BODY {
	color: Black;
	background-color: #F0F0EB;
	font-family: Verdana,sans-serif;
	font-size: 15px;
}

A {
	color: #1166BB;
}

H1 {
 color:#FF8818;
 font-family:Verdana,sans-serif;
 font-size:12px;
 }
